.end {
	display: none;
}
.oxygen {
	font-family: 'Oxygen Mono', monospace;
}
.weight-r {
	font-weight: normal;
}
.weight-b {
	font-weight: bold;
}
.weight-b {
	font-weight: 900;
}

.gain-clickable-button {
	width: 75px;
	height: 75px;
	font-size: 200%;
	background-color: black;
	color: white;
	border: 2px solid gray;
}
.gain-clickable-button:active {
	background-color: gray;
}
.gain-clickable-button:disabled {
	background-color: darkgray;
}
.dark {
	background-color: black;
	color: white;
}
a.dark {
	background-color: black;
	color: turquoise;
}
